* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
.cont {
  background-image: url(Forest.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.carousel {
  margin: 10%;
  margin-left: 12%;
}
.carousel-item img {
  width: 100%; /* This makes the images fill the container */
  height: auto; /* This maintains the aspect ratio */
}

.carousel-control-next {
  bottom: 0;
}

.main-card {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.main-card-div {
  margin: auto;
}

.main-card-desc {
  width: 35rem;
}
.card {
  width: 65rem;
  margin-top: 10rem;
}

.word-slider {
  width: 500px; /* Set the desired width */
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.slider-content {
  display: inline-block; /* Make the container fit its content */
  white-space: nowrap; /* Prevent line breaks */
  animation: slide 10s linear infinite;
  color: #93C572(97, 133, 45);
  font-family: Franklin Gothic;
  margin-left: 10px;
}

/* Customize the card style */
.card-custom {
  width: 50rem;
  margin-top: 500px;
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the card title */
.card-custom .card-title {
  font-size: 24px;
  color: #333; /* Change the color to your preference */
}

/* Style the card subtitle */
.card-custom .card-subtitle {
  font-size: 20px;
  color: rgb(14, 88, 60); /* Change the color to your preference */
}

/* Style the card text */
.card-custom .card-text {
  font-size: 16px;
  color: rgb(161, 52, 52); /* Change the color to your preference */
}

/* Style the card links */
.card-custom .card-link {
  color: #007bff; /* Change the link color to your preference */
  text-decoration: none;
  margin-right: 10px;
}

.card-custom .card-link:hover {
  text-decoration: underline; /* Underline the link on hover */
}

.slider-content span {
  margin-right: 20px; /* Adjust spacing between words */
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.footer {
  padding: 50px;
  text-align: center;
  margin-top: 200px;
  font-style: bold;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Varela Round", sans-serif;
}

.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar .navbar-brand {
  padding-left: 0px;
  font-size: 20px;
  padding-right: 50px;
  color: #943126;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .navbar-brand b {
  color: #3a4d39;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .form-inline {
  display: inline-block;
}
.navbar a {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
.search-box {
  position: relative;
}
.search-box input {
  padding-right: 35px;
  border-color: #080808;
  border-radius: 4px !important;
  box-shadow: none;
}
.search-box .input-group-text {
  min-width: 35px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}
.search-box i {
  color: #29ae70;
  font-size: 19px;
}
.navbar .sign-up-btn {
  min-width: 110px;
  max-height: 36px;
}
.navbar .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar a,
.navbar a:active {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 20px;
  background: transparent;
  line-height: normal;
}
.navbar .navbar-form {
  border: none;
}
.navbar .action-form {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}
.navbar .action-form a {
  color: #99b080;
  padding: 0 !important;
  font-size: 14px;
}
.navbar .action-form .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .btn-primary,
.navbar .btn-primary:active {
  color: #fff;
  background: #99b080 !important;
  border: none;
}
.navbar .btn-primary:hover,
.navbar .btn-primary:focus {
  color: #fff;
  background: #99b080 !important;
}
.navbar .social-btn .btn,
.navbar .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}
.navbar .social-btn .facebook-btn {
  background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
  background: #4676bd;
}
.navbar .social-btn .twitter-btn {
  background: #64ccf1;
}
.navbar .social-btn .twitter-btn:hover {
  background: #4ec7ef;
}
.navbar .social-btn .btn i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}
.or-seperator {
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  color: #666;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -15px;
  z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
  display: none;
}
.form-check-label input {
  position: relative;
  top: 1px;
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown-menu.action-form {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .navbar .form-inline {
    display: block;
  }
  .navbar .input-group {
    width: 100%;
  }
}

.cardbody {
  display: flex;
}
.card-body {
  display: flex;
  position: relative;
}
.img-div {
  width: 110rem;
  margin-right: 1rem;
}
.card-img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.btn1 {
  background-color: #93c572;
  height: 3rem;
  width: 7rem;
  border: none;
  box-shadow: 5px 5px 7px #0000003f;
  position: relative;
  z-index: 1;
  color: black;
  transition: color 1s;
  cursor: pointer;
  margin-right: 1rem;
}

.btn1::before {
  content: "";
  background-color: #1f1f1f;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
}
.btn1:hover {
  color: white;
}
.btn1:hover::before {
  transform: scaleX(1);
}

.subscription-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscription-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.subscription-price {
  font-size: 24px;
  font-weight: bold;
  color: #534c41;
  margin-bottom: 10px;
}

.subscription-description {
  color: #666;
  margin-bottom: 20px;
}

.subscribe-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4f4e23;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/*  *********************************** PRICING.HTML CSS *******************************************  */

.price-card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}

/* .subs-desc-img{
  width: 200px;
  height: 200px;
} */

.location-image {
width: 2500px;
height: 500px;
}

